.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px
}

.twitter-followCard-info {
    display: flex;
    flex-direction: column;
}

.twitter-followCard-infoUserName{
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.twitter-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;

}
.App-contendor {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}
.tw-followCard-button:hover{
    background-color: #ddd;
    transition: .3s ease background-color;
}
.tw-followCard-button.isfollowing {
    border: 1px solid red;

}
.tw-followCard-button.isfollowing:hover{
    border: 1pxd solid red;
    background: red;
}
