article {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
}
article header {
    display: flex;
    align-items: center;
    gap: 4px
}
article header div {
    display: flex;
    flex-direction: column;
}f
article header span {
    opacity: .6;
}
article img {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
